.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-bottom: 4px solid rgb(255, 60, 0);
}


.head li {
    list-style-type:none;
    display: inline;
    margin-right: 70px;
}

body {
    margin: 0;
    background-color: rgb(30, 38, 39);
}

.text {
    margin: auto;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    justify-content: center;
    border: 2px solid white;
    color: whitesmoke;
    text-align: center;
    background-image: url("../data/info-image.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}
